<div class="blog-byline mt-2 mb-4">
  <span class="blog-index-time" data-date="<%= post.date %>" data-format="%B %d, %Y"></span>

  <a class="author-link ml-3" href="https://github.com/<%= post.author %>">
    <img class="avatar mr-2" src="https://github.com/<%= post.author %>.png?size=36" alt="<%= post.author %>">
    <%= post.author %>
  </a>
</div>
