<style>
  #Post .row > * {
    margin-bottom: 1rem;
  }
</style>

<div class="jumbotron jumbotron-home text-center">
  <div class="container">
    <div class="hero">
      <img src="<%= theme.banner %>">
    </div>
    <p class="jumbotron-lead">
      <%= config.subtitle %>
    </p>
  </div>
</div>

<section class="page-section page-section-spacious" id="electron">
  <div class="container-narrow"><!--
    <h1 class="text-center-sm">比你想象的更简单</h1>
    <p class="lead text-center-sm">如果你可以建一个网站，你就可以建一个桌面应用程序。 Electron 是一个使用 JavaScript, HTML 和 CSS 等 Web
      技术创建原生程序的框架，它负责比较难搞的部分，你只需把精力放在你的应用的核心上即可。</p>

    <p class="text-center-sm mt-4">
      <a class="btn btn-lg btn-outline-themed" href="https://youtu.be/8YP_nOCO-4Q">
        <span class="octicon octicon-eye mr-1"></span>
        <span>观看视频</span>
      </a>
    </p>

    <hr> -->

    <div class="row text-center text-small mt-6">
      <% for (let name in theme.feature) { %>
        <div class="col-xs-12 col-sm-4">
          <img class="home-illu" role="presentation" src="image/<%= name %>.svg" aria-hidden="true">
          <h3 class="mb-2 mt-0"><%= theme.feature[name].title %></h3>
          <p><%= theme.feature[name].detail %></p>
        </div>
      <% } %>
    </div>

    <div class="row text-center mt-6 mb-4">
      <h2>困难的部分变得更便捷</h2>
    </div>

    <div class="row text-center text-small mt-3">
      <div class="col-xs-12 col-sm-4 col-md-2 offset-md-1 mb-xs-4 mb-md-0 hero-feature">
        <a class="hero-link" href="https://electronjs.org/docs/api/auto-updater/">
          <span class="octicon hero-octicon octicon-squirrel" aria-hidden="true"></span>
          自动更新
        </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 mb-xs-4 mb-md-0 hero-feature">
        <a class="hero-link" href="https://electronjs.org/docs/api/menu">
          <span class="octicon hero-octicon octicon-device-desktop" aria-hidden="true"></span>
          原生的菜单和通知
        </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 mb-xs-4 mb-md-0 hero-feature">
        <a class="hero-link" href="https://electronjs.org/docs/api/crash-reporter">
          <span class="octicon hero-octicon octicon-bug" style="padding-left:2px" aria-hidden="true"></span>
          崩溃报告
        </a>
      </div>
      <div class="col-xs-12 col-sm-4 offset-sm-2 col-md-2 offset-md-0 mb-xs-4 mb-md-0 hero-feature">
        <a class="hero-link" href="https://electronjs.org/docs/api/content-tracing">
          <span class="octicon hero-octicon octicon-tools" aria-hidden="true"></span>
          调试和性能分析
        </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 mb-xs-4 mb-md-0 hero-feature">
        <a class="hero-link" href="https://electronjs.org/docs/api/auto-updater/#windows">
          <span class="octicon hero-octicon octicon-gift" style="padding-right:2px" aria-hidden="true"></span>
          Windows 安装程序
        </a>
      </div>
    </div>

  </div>
</section>


<section class="page-section page-section-spacious bg-shade" id="Post">
  <div class="container-narrow text-center">
    <h1>最新动态</h1>
    <p class="lead">
      身体力行地践行开源，咱们华人有力量！
    </p>

    <div class="row mt-8">
      <% site.posts.filter(post => post.photos[0]).slice(0, 5).forEach(post => { %>
        <div class="col-xs-12 col-md-5">
          <a href="<%= post.path %>">
            <img src="<%= (post.path + post.photos[0]) %>">
          </a>
        </div>
        <div class="col-xs-12 col-md-7 text-left">
          <h3 class="mt-1 mb-3"><%= post.title %></h3>
          <p>
            <%= (post.description || strip_html(post.content).slice(0, 300)) %>
          </p>
          <div class="d-flex justify-content-between">
            <a class="btn btn-lg btn-outline-themed" href="<%= post.path %>">
              <span>阅读详情</span>
            </a>
            <span>
              <% post.categories.forEach(category => { %>
                <a class="badge badge-primary" href="<%= category.path %>">
                  <%= category.name %>
                </a>
              <% }) %>
              <% post.tags.forEach(tag => { %>
                <a class="badge badge-primary" href="<%= tag.path %>">
                    <%= tag.name %>
                </a>
              <% }) %>
            </span>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</section>

<section class="page-section page-section-spacious" id="apps">
  <div class="container-narrow text-center">
    <h1> 使用 Electron 构建的应用</h1>
    <p class="lead">
      Electron 让你为你的公司或想法创建桌面端应用变得很简单。最初为 GitHub 的 <a href="https://atom.io/" target="_blank"> Atom 编辑器</a>
      开发，Electron 已被像微软、 Facebook、 Slack和Docker 这样的公司用于创建应用程序了。
    </p>

    <hr>

    <div>
      <div class="mb-4">
        <%  for (let name in theme.app) { %>
          <a href="https://electronjs.org/apps/<%= name %>" title="<%= theme.app[name].title %>" class="featured-app">
            <div class="featured-app-logo-wrapper">
              <img class="featured-app-logo" alt="<%= theme.app[name].title %>" src="image/<%= name %>-icon.png">
            </div>
            <div class="featured-app-name"><%= theme.app[name].title %></div>
            <div class="featured-app-description" style="display:none;">
              <%= theme.app[name].description %>
            </div>
            <div class="featured-app-keywords" style="display:none;">
              <%= theme.app[name].keywords %>
            </div>
          </a>
        <%  }  %>
      </div>
      <p class="mt-6">
        <a href="https://electronjs.org/apps">查看更多应用</a>
        or
        <a href="https://github.com/electron/electron-apps/blob/master/contributing.md#adding-your-app">提交你的应用</a>.
      </p>
    </div>
  </div>
</section>
