<div class="jumbotron" style="padding:0px">
  <img src="/static/image/coscon2018.jpeg">
</div>
<div class="jumbotron jumbotron-home text-center">
  <div class="container">
    <div class="hero">
    </div>
    <p class="jumbotron-lead">
      使用 JavaScript, HTML 和 CSS 构建跨平台的桌面应用
    </p>
  </div>
</div>

<div class="container">
  <h1 class="text-center"><a href="https://electronjs.org/releases/stable">版本发布</a></h1>
  <div class="col-md-12 electron-version-container">
    <div class="electron-version">
      <figure id="electron-version-latest" class="highlight highlight-dark text-left my-3 px-2">
        <pre class="overflow-hidden"><code><span class="no-select">$ </span>npm i -D electron@latest<span class="c1 no-select">
# Electron   4.0.6
# Node       10.11.0
# Chromium   69.0.3497.106</span></code></pre>
      </figure>
    </div>
    <div class="electron-version">
      <figure id="electron-version-beta" class="highlight highlight-dark text-left my-3 px-3">
        <pre class="overflow-hidden"><code><span class="no-select">$ </span>npm i -D electron@beta<span class="c1 no-select">
# Electron   5.0.0-beta.4
# Node       12.0.0
# Chromium   73.0.3683.54</span></code></pre>
      </figure>
    </div>
    <div class="electron-version">
      <figure id="electron-version-nightly" class="highlight highlight-dark text-left my-3 px-3">
        <pre class="overflow-hidden"><code><span class="no-select">$ </span>npm i -D electron-nightly<span class="c1 no-select">
# Electron   6.0.0-nightly.20190213
# Node       12.0.0
# Chromium   72.0.3626.110</span></code></pre>
      </figure>
    </div>
  </div>
</div>

<section class="page-section page-section-spacious" id="electron">
  <div class="container-narrow">
    <h1 class="text-center-sm">比你想象的更简单</h1>
    <p class="lead text-center-sm">如果你可以建一个网站，你就可以建一个桌面应用程序。 Electron 是一个使用 JavaScript, HTML 和 CSS 等 Web
      技术创建原生程序的框架，它负责比较难搞的部分，你只需把精力放在你的应用的核心上即可。</p>

    <p class="text-center-sm mt-4">
      <a class="btn btn-lg btn-outline-themed" href="https://youtu.be/8YP_nOCO-4Q">
        <span class="octicon octicon-eye mr-1"></span>
        <span>观看视频</span>
      </a>
    </p>

    <hr>

    <div class="row text-center text-small mt-6">
      <% for (let name in theme.feature) { %>
        <div class="col-xs-12 col-sm-4">
          <img class="home-illu" role="presentation" src="image/<%= name %>.svg" aria-hidden="true">
          <h3 class="mb-2 mt-0"><%= theme.feature[name].title %></h3>
          <p><%= theme.feature[name].detail %></p>
        </div>
      <% } %>
    </div>

    <div class="row text-center mt-6 mb-4">
      <h2>困难的部分变得更便捷</h2>
    </div>

    <div class="row text-center text-small mt-3">
      <div class="col-xs-12 col-sm-4 col-md-2 offset-md-1 mb-xs-4 mb-md-0 hero-feature">
        <a class="hero-link" href="https://electronjs.org/docs/api/auto-updater/">
          <span class="octicon hero-octicon octicon-squirrel" aria-hidden="true"></span>
          自动更新
        </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 mb-xs-4 mb-md-0 hero-feature">
        <a class="hero-link" href="https://electronjs.org/docs/api/menu">
          <span class="octicon hero-octicon octicon-device-desktop" aria-hidden="true"></span>
          原生的菜单和通知
        </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 mb-xs-4 mb-md-0 hero-feature">
        <a class="hero-link" href="https://electronjs.org/docs/api/crash-reporter">
          <span class="octicon hero-octicon octicon-bug" style="padding-left:2px" aria-hidden="true"></span>
          崩溃报告
        </a>
      </div>
      <div class="col-xs-12 col-sm-4 offset-sm-2 col-md-2 offset-md-0 mb-xs-4 mb-md-0 hero-feature">
        <a class="hero-link" href="https://electronjs.org/docs/api/content-tracing">
          <span class="octicon hero-octicon octicon-tools" aria-hidden="true"></span>
          调试和性能分析
        </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 mb-xs-4 mb-md-0 hero-feature">
        <a class="hero-link" href="https://electronjs.org/docs/api/auto-updater/#windows">
          <span class="octicon hero-octicon octicon-gift" style="padding-right:2px" aria-hidden="true"></span>
          Windows 安装程序
        </a>
      </div>
    </div>

  </div>
</section>


<section class="page-section page-section-spacious bg-shade" id="get-started">
  <div class="container-narrow text-center">
    <h1>入门</h1>
    <p class="lead">
      若要开始使用 Electron，请查阅下面的参考资料，了解如何使用 Electron 包装您的 web 应用程序，访问所有的 API，以及生成的安装程序。
    </p>

    <div class="row mt-8">
      <div class="col-xs-12 col-md-5">
        <a href="https://github.com/electron/electron-api-demos/releases">
          <div class="app-frame py-4 px-6">
            <img alt="Screenshot of Electron API Demos app" src="image/electron-api-demos.png">
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-md-7 text-left">
        <h3 class="mt-1 mb-3">探索 Electron 的 API</h3>
        <p><a href="https://github.com/electron/electron-api-demos"> Electron API 演示应用程序 </a> 交互演示了 Electron API
          的最重要特性。看看有什么可能与 Electron 与示例代码和有用的提示，为您的应用程序的建设。</p>
        <p>
          <a id="download-latest-release" class="btn btn-lg btn-outline-themed"
            href="https://github.com/electron/electron-api-demos/releases">
            <span class="octicon octicon-desktop-download mr-1"></span>
            <span>从 GitHub 下载</span>
          </a>
        </p>
        <p id="download-alternatives" class="text-sm" style="display:none;">
          在 GitHub 上 <a href="https://github.com/electron/electron-api-demos/releases"> 查看所有版本</a>
        </p>
      </div>
    </div>

    <hr>

    <h3 class="mb-3">
      <a href="https://github.com/electron/electron-quick-start" target="_blank"> 快速启动</a> 应用程序，看看 Electron 是如何运转的：
    </h3>
    <p>一个有帮助内容的 Electron 应用。</p>

    <figure class="highlight highlight-dark text-left my-4">
      <pre><code><span class="c1"># 克隆示例项目的仓库</span>
$ git clone https://github.com/electron/electron-quick-start

<span class="c1"># 进入这个仓库</span>
$ cd electron-quick-start

<span class="c1"># 安装依赖并运行</span>
$ npm install &amp;&amp; npm start</code></pre>
    </figure>

    <h3>
      或潜得更深，并阅读 <a href="https://electronjs.org/docs"> 文档</a>。
    </h3>


    <h3 class="pt-4">需要帮助？</h3>
    <p>欢迎到 <a href="https://discuss.atom.io/c/electron">Discuss</a> 论坛或我们的 <a
        href="http://atom-slack.herokuapp.com/">Slack</a>频道上提问。关注Twitter <a
        href="https://twitter.com/electronjs">@electronjs</a> 以接收重要的公告。想要联系我们？可以发送电子邮件到 <a
        href="mailto:info@electronjs.org">electron@github.com</a>。</p>

  </div>
</section>

<section class="page-section page-section-spacious" id="apps">
  <div class="container-narrow text-center">
    <h1> 使用 Electron 构建的应用</h1>
    <p class="lead">
      Electron 让你为你的公司或想法创建桌面端应用变得很简单。最初为 GitHub 的 <a href="https://atom.io/" target="_blank"> Atom 编辑器</a>
      开发，Electron 已被像微软、 Facebook、 Slack和Docker 这样的公司用于创建应用程序了。
    </p>

    <hr>

    <div>
      <div class="mb-4">
        <%  for (let name in theme.app) { %>
          <a href="https://electronjs.org/apps/<%= name %>" title="<%= theme.app[name].title %>" class="featured-app">
            <div class="featured-app-logo-wrapper">
              <img class="featured-app-logo" alt="<%= theme.app[name].title %>" src="image/<%= name %>-icon.png">
            </div>
            <div class="featured-app-name"><%= theme.app[name].title %></div>
            <div class="featured-app-description" style="display:none;">
              <%= theme.app[name].description %>
            </div>
            <div class="featured-app-keywords" style="display:none;">
              <%= theme.app[name].keywords %>
            </div>
          </a>
        <%  }  %>
      </div>
      <p class="mt-6">
        <a href="https://electronjs.org/apps">查看更多应用</a>
        or
        <a href="https://github.com/electron/electron-apps/blob/master/contributing.md#adding-your-app">提交你的应用</a>.
      </p>
    </div>
  </div>
</section>
