<!DOCTYPE html>
<html lang="<%= config.language %>">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit">

  <title><%= config.title %></title>
  <%-
    open_graph({
      type:         is_home() ? 'website' : 'blog',
      twitter_site: theme.social.twitter.name
    })
  %>
  <meta name="author" content="<%= config.author %>">
  <meta name="generator" content="hexo">
  <meta name="theme-color" content="#2f3241">

  <!-- consumed by scripts/get-localized-strings -->
  <meta name="localized.clipboard.copy" content="Copy">
  <meta name="localized.clipboard.copy_to_clipboard" content="复制到剪贴板">
  <meta name="localized.clipboard.copied" content="已复制">

  <base href="/">

  <link rel="shortcut icon" href="<%= config.logo %>">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="library/index.css">
  <style>
    .btn.btn-primary {
      background-color: #007bff;
      background-image: none;
      border-color: #007bff;
    }
    .btn.btn-primary a:link {
      color: white;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <header class="site-header">
    <div class="container">

      <a class="site-header-logo no-underline-hover" href=".">
        <img class="site-header-icon" src="<%= config.logo %>">
        <svg class="vertical-middle" width="156px" height="18px" viewBox="0 0 156 18"
          xmlns="http://www.w3.org/2000/svg">
          <title><b>开源社</b><br/>kaiyuanshe</title>
        </svg>
      </a>

<nav class="site-header-nav">
  <%  for (let name in theme.headerNav) { %>
  <a class="site-header-nav-item" href="<%= theme.headerNav[name].href %>" data-href-match="<%= theme.headerNav[name].href_match %>"
    class="dropdown-toggle" data-toggle="dropdown">
    <%= name %>
    <!-- <% if (name==='资讯') { %>
    <ul class="dropdown-menu" role="menu">
      <li><a href="/blog/c12.html" target="_self">博客</a>
      </li>
      <li><a href="/activity.html" target="_self">活动</a>
      </li>
    </ul>
    <% } %> -->
  </a>
  <%  }  %>
  <form action="search/" class="ais-search-box">
    <input type="search" name="keyword" required placeholder="搜索" id="search-input" class="nav-search ais-search-box--input"
      aria-label="search-box" autocapitalize="off" autocorrect="off" role="textbox">
  </form>
  <a class="site-header-nav-item octicon" href="https://github.com/<%= theme.social.github.name %>/" title="<%= theme.social.github.title %>">
    <span class="mega-octicon octicon-mark-github vertical-middle"></span>
  </a>
  <a class="site-header-nav-item bordered lang-select-button" href="#Language" data-toggle="collapse">
    中文
  </a>
</nav>
    </div>
  </header>

  <%- include('./component/language') %>

  <%- body %>

  <footer class="footer">
    <div class="container">
      <nav class="footer-nav">
        <% theme.footNav.forEach((item, index) => { %>
        <a class="footer-nav-item <%= (index ? '' : 'active') %>" href="<%= item.href %>">
          <%= item.title %>
        </a>
        <% }) %>
      </nav>

      <span class="footer-social">
        <% for (let name in theme.social) { %>
          <a class="footer-nav-item icon"
            href="<%= (theme.social[name].domain + '/' + theme.social[name].name) %>"
            title="<%= theme.social[name].title %>">
            <i class="devicon-<%= name %>-plain vertical-middle"></i>
          </a>
        <% } %>
      </span>
    </div>
  </footer>
</body>

</html>
