<style>
  .flow-box > * {
    margin: 0 2rem;
  }
  #Post .row > * {
    margin-bottom: 1rem;
  }
</style>

<% const {banner, principle, mission, partner} = site.data.index; %>

<div class="jumbotron jumbotron-home">
  <div class="container">
    <div class="hero text-center">
      <img src="<%= banner %>">
    </div>
    <p class="jumbotron-lead">
      <%= config.subtitle %>
    </p>
  </div>
</div>

<section class="page-section page-section-spacious">
  <div class="container-narrow text-center">
    <div class="row text-center mt-6 mb-4">
      <h2 class="m-auto">我们的原则</h2>
    </div>

    <div class="flow-box text-center text-small mt-6">
    <%-
      include('./component/gallery', {
        type:    'icon',
        gallery: principle,
        size:    '10x'
      })
    %>
    </div>

    <div class="row text-center mt-6 mb-4">
      <h2 class="m-auto">我们的使命</h2>
    </div>

    <div class="flow-box text-center text-small mt-3">
    <%-
      include('./component/gallery', {
        type:    'icon',
        gallery: mission,
        size:    '5x'
      })
    %>
    </div>

    <hr>

    <h1>自研开源项目</h1>
    <p class="lead">
      期盼未来有更多更好的开源项目以及贡献者加入开源社！
    </p>
    <div class="mt-9">
      <div class="mb-4">
        <% site.posts.forEach(({layout, path, title, logo, description}) => {

          if (layout !== 'project') return; %>

          <a href="<%= path %>" title="<%= title %>" class="featured-app">
            <div class="featured-app-logo-wrapper">
              <img class="featured-app-logo" alt="<%= title %>" src="<%= logo %>">
            </div>
            <div class="featured-app-name"><%= title %></div>
            <div class="featured-app-description mt-3">
              <%= description %>
            </div>
          </a>
        <% }) %>
      </div>
      <p class="mt-6">
        <a href="https://github.com/kaiyuanshe">查看更多项目</a>
      </p>
    </div>
  </div>
</section>


<section class="page-section page-section-spacious bg-shade" id="Post">
  <div class="container-narrow text-center">
    <h1>最新动态</h1>
    <p class="lead">
      身体力行地践行开源，咱们华人有力量！
    </p>
    <div class="row mt-8">
      <% getPosts({ filter: post => post.photos[0] }).forEach(({
        path, photos, title, description, content, categories, tags
      }) => { %>
        <div class="col-xs-12 col-md-5">
          <a href="<%= path %>">
            <img src="<%= (path + photos[0]) %>">
          </a>
        </div>
        <div class="col-xs-12 col-md-7 text-left">
          <h3 class="mt-1 mb-3"><%= title %></h3>
          <p>
            <%= (description || strip_html(content).slice(0, 300)) %>
          </p>
          <div class="d-flex justify-content-between">
            <a class="btn btn-lg btn-outline-themed" href="<%= path %>">
              <span>阅读详情</span>
            </a>
            <span>
              <% categories.forEach(({path, name}) => { %>
                <a class="badge badge-primary" href="<%= path %>">
                  <%= name %>
                </a>
              <% }) %>
              <% tags.forEach(({path, name}) => { %>
                <a class="badge badge-primary" href="<%= path %>">
                    <%= name %>
                </a>
              <% }) %>
            </span>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</section>

<section class="page-section page-section-spacious" id="Activity">
  <div class="container-narrow">
    <h2 class="text-center-sm">活动日历</h2>

    <%- include('./component/calendar', {type: 'Activity', posts: site.posts}) %>
  </div>

  <hr>

  <div class="container-narrow">
    <h2 class="text-center-sm">活动地图</h2>

    <%- include('./component/marker_map', {
      markers: site.posts.map(({title, permalink, address}) => address && {
        address,
        title,
        URL: permalink
      }).filter( Boolean )
    }) %>
  </div>
</section>

<section class="page-section page-section-spacious bg-shade" id="Partner">
  <div class="container-narrow text-center">
    <h1>合作伙伴</h1>
    <p class="lead">
      感谢业界同仁一如既往地支持！
    </p>
    <div class="mt-9">
      <div class="mb-4">
        <% partner.forEach(({ title, logo, URL, description}) => { %>

          <a href="<%= URL %>" title="<%= title %>" class="featured-app">
            <div class="featured-app-logo-wrapper">
              <img class="featured-app-logo" alt="<%= title %>" src="<%= logo %>">
            </div>
            <div class="featured-app-name"><%= title %></div>
            <div class="featured-app-description mt-3">
              <%= description %>
            </div>
          </a>
        <% }) %>
      </div>
    </div>
  </div>
</section>
