<%
const { partner } = site.data, year_list = {};

for (const item of partner)
  for (const year of item.years)
    (year_list[year] = year_list[year] || []).push(item);

for (const year in year_list)
  year_list[year] = groupBy(year_list[year], 'catalog');

const list = Object.entries(year_list).sort((A, B) => B[0] - A[0]);
%>

<style>
  main > section > ul {
    list-style: none;
  }
  main > section > ul img {
    width: 12rem;
  }
</style>

<main class="container text-center">
  <h1 class="f0-light"><%= page.title %></h1>
  <p class="lead"><%= page.description %></p>

<% for (const [year, data] of list) { %>
  <section class="my-4">
    <h2><%= year %></h2>
  <% for (const catalog in data) { %>
    <h3><%= catalog %></h3>
    <ul class="d-flex align-items-center justify-content-center flex-wrap my-2 my-md-3">
    <% for (const { site, title, logo } of data[catalog]) { %>
      <li class="featured-company-list-item">
        <a href="<%= site %>" target="_blank" rel="noopener">
          <img class="px-2" alt="<%= title %>" src="<%= logo %>">
        </a>
      </li>
    <% } %>
    </ul>
  <% } %>
  </section>
<% } %>
</main>
