<%
const { partner } = site.data;

let year_list = groupBy(
  partner, ({ records }) => records.map(({ year }) => year)
);

for (const year in year_list)
  year_list[year] = groupBy(
    year_list[year],
    ({ records }) => records
      .filter(({ year: Y }) => Y === +year)
      .map(({ type }) => type)
  );

year_list = Object.entries(year_list).sort((A, B) => B[0] - A[0]);
%>

<style>
  main > section > ul {
    list-style: none;
  }
  main > section > ul img {
    max-width: 12rem;
    max-height: 6rem;
  }
</style>

<main class="container text-center">
  <h1 class="f0-light"><%= page.title %></h1>
  <p class="lead"><%= page.description %></p>

<% for (const [year, data] of year_list) { %>
  <hr />
  <section class="my-4">
    <h2><%= year %></h2>
  <% for (const type in data) { %>
    <h3><%= type %></h3>
    <ul class="d-flex align-items-center justify-content-center flex-wrap my-2 my-md-3">
    <% for (const { site, title, logo } of data[type]) { %>
      <li class="featured-company-list-item">
        <a href="<%= site %>" target="_blank" rel="noopener">
          <img class="px-2" alt="<%= title %>" title="<%= title %>" src="<%= logo %>">
        </a>
      </li>
    <% } %>
    </ul>
  <% } %>
  </section>
<% } %>
</main>
