<style>
  .blog-post hr:first-of-type {
    display: block;
  }
</style>

<% const { title, description, content, files } = page; %>

<section class="page-section blog-post">
  <div class="container">
    <h1><%= title %></h1>

    <% if ( description ) { %>
      <blockquote class="blockquote">
          <p class="mb-0"><%= description %></p>
      </blockquote>
    <% } %>

    <%- include('./component/byline', { post: page }) %>

    <%- content %>

    <% if (is_post()  &&  has_category(page, 'Activity')) { %>
      <hr>
      <%- include('./component/activity', {post: page}) %>
    <% }

    if ( files ) { %>
      <hr>
      <h2>资料下载</h2>
      <ol>
        <%- include('./component/files', {path, files}) %>
      </ol><%
    } %>
  </div>
</section>

<script>
(function () {

  var path = self.location.href.split('#')[0];

  $('.blog-post').find('h1, h2, h3, h4, h5, h6').append(function () {

    if ( this.id.trim() )
      return '<a class="header-link" title="Permalink" href="' +
        path + '#' + this.id +
        '"><span class="octicon octicon-link"></span></a>';
  });
})();
</script>
