<style>
  .blog-post hr:first-of-type {
    display: block;
  }
</style>

<section class="page-section blog-post">
  <div class="container-narrow">
    <h1><%= page.title %></h1>

    <% if (page.description) { %>
      <blockquote class="blockquote">
          <p class="mb-0"><%= page.description %></p>
      </blockquote>
    <% } %>

    <%- include('./component/byline', { post: page }) %>

    <%- page.content %>

    <% if (has_category(page, 'Activity')) { %>
      <hr>
      <% if ( page.address ) { %>
        <h2>活动地图</h2>

        <%- include('./component/marker_map', {
          markers: [{
            address: page.address,
            title:   page.title,
            URL:     page.permalink
          }]
        }) %>
      <% } %>
    <% } %>
  </div>
</section>

<script>
(function () {

  var path = self.location.href.split('#')[0];

  $('.blog-post').find('h1, h2, h3, h4, h5, h6').append(function () {

    if ( this.id.trim() )
      return '<a class="header-link" title="Permalink" href="' +
        path + '#' + this.id +
        '"><span class="octicon octicon-link"></span></a>';
  });

  $('.blog-post table').addClass('table').each(function () {

    if (! this.tHead.textContent.trim())  $(this.tHead).remove();
  });
})();
</script>
